<div class="container">
    <div class="content">
        <div class="header">
            <h1>File Upload</h1>
        </div>
        <div class="row">
            <div class="col-med-6"></div>
            <div class="col-med-6">
                <form action="/api/upload" method="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <input class="form-control upload" id="formFileLg" type="file" (change)="onFileChange($event)" />
                        <button class="btn btn-outline-secondary" id="formFileLg" (click)="onUpload($event)">
                            Subir
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-med-6"></div>
        </div>
    </div>
    <div class="footer">
        <p>Desarrollado por Mario Santisteban A.</p>
    </div>
</div>
